@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 3px solid white; */
}
:root {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: grid;
  grid-template-rows: 60px 1fr 50px;
  height: 100vh;
  width: 100vw;
  min-width: 1040px;
  background-color: #0E0504;
  position: relative;
}

header{
  display: flex;
}
nav {
  display: flex;
  width: 100%;
}


header
nav ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 54px;
}

header
nav ul 
li button {
  appearance: none;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: none;
  background-color: #0E0504;
  color: white;
  padding: 6px 12px;
  width: 100%;
  font-size: 1.1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

header
nav ul li 
button:hover {
  text-shadow: 3px 3px 16px white;
}

header
nav ul li 
button:active {
  background-color: aliceblue;
  color: #0E0504;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

main#content {
  min-height: 744px;
  min-width: 1160px;
  background-color: #4B1F0E;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 44px 52px;
  overflow-y: auto;
}

main#content
section#home {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2, 1fr);
  width: auto;
  min-width: 1020px;
  column-gap: 52px;
  align-items: center;
  justify-items: center;
}

main#content
section#home
img.hero-image {
  width: max(480px, 66%);
  border: 4px solid #BE7656;
  border-radius: 80px 14px;
}

section#home
h2 {
  color: #EFC3A4;
  font-family: 'Passions Conflict', 'Times New Roman';
  font-style: italic;
  font-size: 5.5rem;
  font-weight: 400;
}

section#home
p {
  color: #EFC3A4;
  font-size: 1.4rem;
  grid-column: 1 / -1;
  width: 700px
}

main#content
section#menu {
  background-image: url(../images/menu-board.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  width: 1020px;
  height: 1454px;
  outline: 3px solid #BE7656;
  border-radius: 20px;
  box-shadow: 6px 6px 18px #030201;
  color: white;
  padding: 240px 210px 190px 220px;
}

main#content
section#menu
h1 {
  font-size: 5rem;
  font-family: 'Passions Conflict', 'Times New Roman', Times, serif;
  letter-spacing: 12px;
  margin-bottom: 36px;
}

section#menu
div {
  margin-bottom: 32px;
  line-height: 1.3;
}

section#menu
div h3 {
  font-style: italic;
  font-size: 1.8rem;
  margin-bottom: 14px;
}

section#menu
div pre {
  font-size: 1.1rem;
}

section#contact {
  background-image: url(../images/bread-mug-laptop.jpg);
  background-position: center bottom;
  background-size: 90%;
  background-repeat: no-repeat;
  height: 680px;
  width: 1040px;
  margin: auto;
  margin-top: -40px;
  padding: 0px 56px;
}

section#contact >
h1 {
  color: white ;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 8px;
}

section#contact 
div.card {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 580px;
  border-radius: 8px;
  padding: 6px;
}

section#contact 
div.card h2,
div.card h4,
div.card p:nth-of-type(2) {
  margin-bottom: 4px;
}

section#contact 
div address#contacts {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-items: center;
}

address#contacts
div.holder {
  gap: 5px;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}

div.holder
div.line {
  display: flex;
  gap: 6px;
}

div.holder
div.line
p.left {
  width: 150px;
  text-align: center;
}

address#contacts
div.holder h4 {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

address#contacts
img.map {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  width: 300px;
  outline: 1px solid #0E0504;
}

address#contacts
div img.svg {
  width: 20px;
  flex: 1 1 auto;
}

section#credits {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 25px;
  width: 900px;
  margin: auto;
}

section#credits >
h2 {
  margin-top: 26px;
}

section#credits >
a em {
  font-size: 1.2rem;
  text-shadow: 1px 1px 8px white;
}

section#credits >
a em:hover {
  color: white;
  text-shadow: 1px 1px 8px black;
}

section#credits
div.imageCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 22px;
  border: 3px solid #4B1F0E;
}

div.imageCards
div.card {
  border: 3px solid #BE7656;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 14px #4B1F0E;
  background-color: #EFC3A4;
}

div.imageCards
div.card:hover {
  box-shadow: 2px 2px 14px #EFC3A4;
}

section#credits
img.image-credit {
  width: 200px;
}

div.card a
> em {
  text-shadow: 1px 1px 8px #4B1F0E;
  font-size: 1.2rem;
}

div.card a
> em:hover {
  text-shadow: 1px 1px 8px #4B1F0E;
  color: #4B1F0E;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  display: flex;
  align-items: center;
}

footer a 
img{
  width: 26px;
  height: 26px;
  /* border-radius: 50%; */
}

footer a 
img:hover {
  /* box-shadow: 0.5px 0.5px 12px white; */
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(252deg) brightness(104%) contrast(100%) drop-shadow(0 0 0.75rem white);
}